#id {
    display: none;
}
#id.visible {
    display: block;
}

#arrows{
    display: flex;
    flex-direction:column;
    margin-left: 75px;
    margin-top: -15px;
}

#arrow_container{
    display:flex;
}

#vote{
    margin-left:87px;
    margin-top:-20px;
    font-size: 25px;
}