#id {
    display: none;
}
#id.visible {
    display: block;
}

#arrows{
    display: flex;
    flex-direction:column;
    margin-left: 75px;
    margin-top: -15px;
}

#arrow_container{
    display:flex;
}

#vote{
    margin-left:87px;
    margin-top:-20px;
    font-size: 25px;
}

#username{
    font-size: 15px;
    color: dodgerblue;
    
    max-width: 400px;
}

#postMessage{
    font-size: 20px;
    max-width: 750px;
    overflow-wrap: break-word;
}

#replybutton{
    display:flex;
    font-size:14px;
}

#replycontainer{
    display: flex;
    margin-top: 50px;
    padding-left: 10px;
    border-left: 1px solid
}