#MessageBox{
    height: auto;
    width: 550px;
    margin-top: 10px;
}
#UsernameBox{
    height: auto;
    width:500px;
}

#box{
    width: 550px;
}

#postContainer{
    max-width: fit-content;
    padding: 20px;
}